In [1]:
import numpy as np
from pandas import Series,DataFrame

import pandas as pd
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

range(0, 15)

In [11]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

In [13]:
dframe

       col1      col2      col3      col4      col5
A -1.803517  2.051372 -0.132090 -0.873673 -0.511514
B -1.187393  0.505086  0.964389  1.093777 -0.283559
D -0.597109 -0.804377 -0.475316 -0.317454 -0.827387
E  0.065843  0.375938 -0.130101  0.093086  1.972681
F  0.923957 -0.062831  0.572920  0.218311  1.109772

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [15]:
dframe2

       col1      col2      col3      col4      col5
A -1.803517  2.051372 -0.132090 -0.873673 -0.511514
B -1.187393  0.505086  0.964389  1.093777 -0.283559
C       NaN       NaN       NaN       NaN       NaN
D -0.597109 -0.804377 -0.475316 -0.317454 -0.827387
E  0.065843  0.375938 -0.130101  0.093086  1.972681
F  0.923957 -0.062831  0.572920  0.218311  1.109772

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [17]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.803517  2.051372 -0.132090 -0.873673 -0.511514   NaN
B -1.187393  0.505086  0.964389  1.093777 -0.283559   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.597109 -0.804377 -0.475316 -0.317454 -0.827387   NaN
E  0.065843  0.375938 -0.130101  0.093086  1.972681   NaN
F  0.923957 -0.062831  0.572920  0.218311  1.109772   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A -1.803517  2.051372 -0.132090 -0.873673 -0.511514
B -1.187393  0.505086  0.964389  1.093777 -0.283559
D -0.597109 -0.804377 -0.475316 -0.317454 -0.827387
E  0.065843  0.375938 -0.130101  0.093086  1.972681
F  0.923957 -0.062831  0.572920  0.218311  1.109772

In [ ]:
dframe.ix[['A','B','C','D','E','F'],column